{
    "compiler": "modular",
    "name": "yhjr-mobile",
    "version": "0.0.0",
    "dependencies": {},
    "alias": {},
    "export": [
    	"styles/index.scss",
    	"scripts/index.js",
    	"styles/team.scss",
    	"scripts/team.js",
        "styles/team-list.scss",
        "scripts/team-list.js",
    	"styles/project.scss",
    	"scripts/project.js",
    	"styles/project-detail.scss",
    	"scripts/project-detail.js",
    	"styles/careers-list.scss",
    	"scripts/careers-list.js",
    	"styles/careers-detail.scss",
    	"scripts/careers-detail.js"
    ]     
}   