/**
 * Main Style
 * @author huyue
 */
body,html{
	font-size: 31.25vw;
}
.mobile-container{
	width: 100%;
	height: auto;
	position:relative;
	max-width: 3.40rem;
	margin: 0px auto;
	.header{
		width:3.40rem;
		height:47px;
		background-color: rgba(171,27,27,0.80);
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 100;
		.header-box{
			position:relative;
			margin:0 auto;
			a:nth-child(1){
				width:105px;
				height:25px;
				background: url("../../images/logo.png") no-repeat 100% 100%;
				position:absolute;
				top:12px;
				left:0.16rem;

			}
			a:nth-child(2){
				width:25px;
				height:25px;
				background: url("../../images/icon_menu.png") no-repeat 100% 100%;
				position:absolute;
				top:12px;
				right:0.37rem;
			}
		}
	}
	.team-list-content{
		.team-list-banner{
			width:3.2rem;
			height:1.79rem;
			img{
				width:100%;
			}
		}
		.team-list-leader-box{
			width:3.2rem;
			height:3.2rem;
			.team-list-leader{
    			width:1.6rem;
				height:1.6rem;
				position:relative;
				display: inline-block;
				float: left;
				a{
					position:absolute;
					top:0px;
					left:0px;
					width:1.6rem;
					height:1.6rem;
					img{
						width:100%;
					}
				}
			}
		}
		.team-list-staff-box{
			width:3.2rem;
			height:3.2rem;
			.team-list-staff{
				width:3.2rem;
				height:1.6rem;
				position:relative;
				display: inline-block;
				float: left;
				a{
					position:absolute;
					top:0px;
					left:0px;
					width:3.2rem;
					height:1.6rem;
					img{
						height:100%;
					}
				}
			}
		}
	}
}
